SoapWebServiceExmpleGlassFish/.classpath
SoapWebServiceExmpleGlassFish/.project
SoapWebServiceExmpleGlassFish/.settings/.jsdtscope
SoapWebServiceExmpleGlassFish/.settings/org.eclipse.jdt.core.prefs
SoapWebServiceExmpleGlassFish/.settings/org.eclipse.wst.common.component
SoapWebServiceExmpleGlassFish/.settings/org.eclipse.wst.common.project.facet.core.xml
SoapWebServiceExmpleGlassFish/.settings/org.eclipse.wst.jsdt.ui.superType.container
SoapWebServiceExmpleGlassFish/.settings/org.eclipse.wst.jsdt.ui.superType.name
SoapWebServiceExmpleGlassFish/.tern-project
